#{extends 'main.html'/}

<head>
    <script>
        function subjectsFunc(sel) {
            $("."+subjectForm).css("display", "none");
            subjectForm = sel.options[sel.selectedIndex].value;
            $("."+subjectForm).css("display", "block");
        }
    </script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><a href="@{Secure.logout()}">Log out</a></li>
                <li><a href="@{Student.consultForm()}">Consultation</a></li>
                <li class="active"><a href="@{Student.catchupForm()}">Catching up</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

<div class="content" id="consultation">
    <div class="page-header">
        <h2 class="form-signin-heading">Catch up your lessons</h2>
    </div>

    #{form @Student.sendCatchingUpMail()}
    <div class="field2">
        <label for="subject">Subject</label>
        <select id="subject" name="subject" onChange="subjectsFunc(this);" >
            #{list items:subjectList, as:'subject'} <!--wyciagaj po jednym obiekcie z listy ktora przechowuje wszystkie konsultacje-->
                <option value="${subject.subjectId}">[${subject.groupNumber}] ${subject.subjectName}</option> <!--wyciagamy usera z bazy-->
            #{/list}
        </select>
    </div>


    <div class="field3">
        *{<label for="lecturerAndDate">Date</label>}*
            #{list items:userSubjectMap.keySet(), as:'key'}
                    #{list items:userSubjectMap.get(key), as:'user'}
                    <div class="${key}" style="display: none;">

                         <input type="radio" id="choice" name="choice" value="${key}" />
                        #{list items:subjectWithId.get(key), as:'subjectInfo'}
                        ${user.username} ${user.surname} &nbsp;&nbsp;${subjectInfo.day}, ${subjectInfo.hour}, sala ${subjectInfo.classroom}
                        #{/list}

                         <br/>
                    </div>
                    #{/list}
            #{/list}
    </div>

    <button class="btn btn-info" type="submit" value="mail">Send an email</button>
    #{/form}
    </div>
</div>
</body>
</html>