#{extends 'main.html' /}

<hmml>
    <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li><a href="@{Secure.login()}">Log in now</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="content" id="consultation">
            <div class="page-header">
                <h2 class="form-signin-heading">User created</h2>
            </div>

            <form>
                <div>
                    <strong>Name</strong> is ${username} <br/>
                    <strong>Surname</strong> is ${surname} <br/>
                    <strong>Group</strong> is ${groupNumber}  <br/>
                    <strong>Email</strong> is ${email}
                </div>
            </form>

        </div>
    </div>
    </body>
</hmml>


*{<p>}*
    *{<strong>Name</strong> is ${username}}*
*{</p>}*
*{<p>}*
    *{<strong>Surname</strong> is ${surname}}*
*{</p>}*
*{<p>}*
    *{<strong>Group</strong> is ${groupNumber}}*
*{</p>}*
*{<p>}*
    *{<strong>Email</strong> is ${email}}*
*{</p>}*

*{#{a @Secure.login()}Log in now#{/a}}*