html, body {
    background-color: #eee;
    margin: 0px;
    padding: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    width: 92%;
    margin: 0 auto 0 auto;
}

.page-header {
    background-color: #f5f5f5;
    padding: 10px 20px 10px;
    margin: 15px -20px 20px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
}
#registry form div, #consultation form div{
    margin-left: 100px;
}

.complete label{
    color: #54BD06;
}

.field label{
    width: 110px;
    display: block;
    float: left;
    padding-top: 6px;
}

.field input{
    width: 250px;
    display: inline;
    margin-bottom: 20px;
}


#consultation input{
    margin-bottom: 10px;
    margin-left: 10px;
}

#registry button, #consultation button{
    margin-left: 100px;
    margin-top: 10px;
}

.field4 select, .field2 select{
    margin-left: 55px;
    margin-bottom: 20px;
}
.choices select{
    margin-left: 62px;
    margin-bottom: 20px;
}

.field select{
    margin-bottom: 30px;
}

#registry legend{
    margin: 30px 100px 40px;
    width: 360px;
    text-align: center;
    font-style: inherit;

}

.navbar-header ul{
    margin-left: 50px;
}


#registry .error {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    width: 360px;
    border-radius: 4px;
    box-shadow: 2px;

}

#registry .error {
    background: #c00 !important;
}
#registry .error1 {
    color: #c00;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}